<h2>Log in</h2>

<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username:</label>
  <input type="text" name="user[username]"> <br>

  <label for="password">Password:</label>
  <input type="password" name="user[password]"> <br>

  <input type="submit" value="Log in" class="btn btn-success">
</form>

Don't have an account? <%= link_to "Sign up here.", new_user_url %>