<h2>Create Account</h2>

<form action="<%= users_url %>" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="user[username]"> <br>

  <label for="password">Password:</label>
  <input type="password" name="user[password]"> <br>

  <input type="submit" value="Sign up" class="btn btn-success">
</form>

Already have an account? <%= link_to "Login here.", new_session_url %>