<h1>Sub: <%= @sub.name %></h1>

<h4>Links:</h4>
<% @sub.links.each do |link| %>
  <strong>Title:</strong> <%= link.title %> <br>
  <strong>URL:</strong> <%= link_to "#{link.url}", "http://#{link.url}" %> <br>
  <strong>Description:</strong> <%= link.description %> <br> <br>
<% end %>
